html,
body {
    background-color: rgb(51, 51, 51);
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.tictactoe {
    background-image: linear-gradient(#77A0A9, #ED254E, #F9DC5C, #ED254E, #77A0A9);
    background-attachment: fixed;
    /* animation: bgMove 5s infinite; */
    /* background-position: center; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* left:10%;
    right: 10%;
    top: 10%;
    bottom: 10%; */
    width: min(80vh, 80vw);
    height: min(80vh, 80vw);
    display: grid;
    grid-template-rows: [r1] 1fr [r2] 1fr [r3] 1fr;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr;
    /* place-content: center; */
    gap: 10px 10px;
}

.space {
    aspect-ratio: 1;
    max-height: calc(80vh / 3);
    max-width: calc(80vh / 3);
    background-color: rgb(51, 51, 51);
}

.x {
    mask-image: url(images/x.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-type: alpha;
    -webkit-mask-image: url(images/x.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-type: alpha;
}

.o {
    mask-image: url(images/o.svg);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url(images/o.svg);
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}

.space:hover:not(.used) {
    background-color: rgb(61, 61, 61);
}

.row1 {
    grid-row-start: r1;
}

.row2 {
    grid-row-start: r2;
}

.row3 {
    grid-row-start: r3;
}

.col1 {
    grid-column-start: c1;
}

.col2 {
    grid-column-start: c2;
}

.col3 {
    grid-column-start: c3;
}

@keyframes bgMove {
    from {
        /* background-image: linear-gradient(#77A0A9, #ED254E, #F9DC5C); */
    }

    to {
        /* background-image: linear-gradient(#F9DC5C, #ED254E, #77A0A9); */
    }
}